/* Small Screen*/
.container {
    background-color: #4361ee;
    padding: 1rem;
    color: #fff;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar__brand {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

.navbar__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}

.navbar__title {
    color: white;
    text-decoration: none;
}

.navbar__item {
    margin-bottom: 1rem;
    background-color: rgb(224, 210, 210);
    padding: 0.6rem;
    border-radius: 10px;
}

/* Medium Screen */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__brand {
        margin-bottom: 0;
    }

    .navbar__list {
        flex-direction: row;
    }

    .navbar__item {
        margin: 0 1rem;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    
}