.movie{
    margin-bottom: 1rem;
}

.movie__image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.movie__title {
    color: #2741b6;
    font-size: 1.95rem;
    margin-bottom: 0.5rem;
}

.movie__genre {
    color: rgb(85, 107, 209);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}


.movie__date {
    color: #578ad6;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .movie {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .movie {
        flex-basis: 25%;
        padding: 1rem;
    }
}